.left
  #copyfree &nbsp;
  Copyfree by 
  %a{:href => "#"} Creative Commons License BY-NC-SA 3.0
  %br
  %a{:href => "#"} a TwitterArt open-source application
.right
  %dl
    %dd
      %a{:href => "#"} one
      %a{:href => "#"} one
      %a{:href => "#"} one
      %a{:href => "#"} one
      %a{:href => "#"} one