.left
  #copyfree &nbsp;
  Copyfree by 
  %a{:href => "http://creativecommons.org/licenses/by-nc-sa/3.0/us/"} Creative Commons License BY-NC-SA 3.0
  %br
  %a{:href => "http://www.twitterart.org"} a TwitterArt open-source application
.right
  %dl.c
    %dd<>
      %a{:href => "/"} Home
    %dd<>
      %a{:href => "/about"} About
    %dd<>
      %a{:href => "/stories"} The List
    %dd<>
      %a{:href => "/recommend"} Recommend
    %dd<>
      %a{:href => twitter_link} Follow