.left
  #copyfree &nbsp;
  Copyfree by 
  %a{:href => "http://creativecommons.org/licenses/by-nc-sa/3.0/us/"} Creative Commons License BY-NC-SA 3.0
  %br
  %a{:href => "http://www.twitterart.org"} a TwitterArt open-source application
.right
  %dl
    %dd
      %a{:href => "/"} Home
      %a{:href => "/about"} About
      %a{:href => "/stories"} The List
      %a{:href => "/recommend"} Recommend
      %a{:href => twitter_link} Follow