#titlebar.c
  .left
    %h1 
      %a{:href => "/"} Readtome
    %h5 Tweeting books, articles, and more&hellip;
  .right
    %dl
      %dd
        %a{:href => "/"} Home
        %a{:href => "/about"} About
        %a{:href => "/stories"} The List
        %a{:href => "/recommend"} Recommend
        %a{:href => twitter_link} Follow