#titlebar.c
  .left
    %h1 
      %a{:href => "/"} Readtome
    %h5 Tweeting books, articles, and more&hellip;
  .right
    %dl
      %dd
        %a{:href => "#"} one
        %a{:href => "#"} one
        %a{:href => "#"} one
        %a{:href => "#"} one
        %a{:href => "#"} one