#titlebar.c
  .left
    %h1 
      %a{:href => "/"} Readtome
    %h5 Tweeting books, articles, and more&hellip;
  .right
    %dl.c
      %dd<>
        %a{:href => "/"} Home
      %dd<>
        %a{:href => "/about"} About
      %dd<>
        %a{:href => "/stories"} The List
      %dd<>
        %a{:href => "/recommend"} Recommend
      %dd<>
        %a{:href => twitter_link} Follow