%h1 Stories
%h3 Current Story

- unless @current_story.blank?
  %p= @current_story.title
  .story= highlight_tweet(@current_story)

- else
  %p
    There is not a current story.
    - #if logged_in?      You should select one to start reading.

%h3 Upcoming Stories
- if @stories.size > 0
  - for story in @stories
    %p= story.title
- else
  %p There are no upcoming stories
  
%h3 Previous Stories
- if @previous_stories.size > 0
  - for story in @previous_stories
    %p= story.title
- else
  %p There are no previously read stories.