.suggestion_box
  %h6
    Suggest something for
    %br
    readtome to read on Twitter
  %p Type in a title and author/publication, then let others vote on it.

  %p.suggest This feature coming soon.